// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
.pagination {
  float: right;
  .page-item {
    .page-link {
      color: #38c172;
    }
    &.active {
      .page-link {
        color: #fff;
        background-color: #38c172;
        border-color: #38c172;
      }
    }
  }
}